.catalogo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .producto {
    width: 200px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .producto img {
    max-width: 100%;
  }
  
  .producto h3 {
    margin-top: 10px;
    font-size: 18px;
  }
  
  .producto p {
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .precio {
    font-weight: bold;
    color: #007bff;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #0056b3;
  }

  body{
    color: #090b08;
    margin:  0;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    background-color: #ffe9ef;
  }
  h1{
    font-size: 1.7em;
    font-weight: 700;
    line-height: 1.5em;
    text-transform: uppercase;
  }
  h2{
    text-transform: uppercase;
  }
  h4{
    font-size: .8em;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  h6{
    font-weight: 500;
  }
  a{
    text-decoration: none;
    color: #090b08;
  }
  ul{
    list-style: none;
  }
  section{
    padding: 5.8em 2em 0;
  }
  
  /* Header */
  header{
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: space-around;
    z-index: 1;
  }
  header:before{
    content: "";
    position: absolute;
    background-color: #ffe9ef;
    width: 100%;
    height: 68%;
    z-index: -1;
    -webkit-box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.22);
    -moz-box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.22);
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.22);
  }
  .nav-brand img{
    width: auto;
    padding-top: 1em;
    height: 7.5em;
  }
  .toggle-menu{
    display: block;
    font-size: 1.2em;
    align-self: center;
    cursor: pointer;
  }
  input[type="checkbox"]{
    display: none;
  }
  input[type="checkbox"]:hover ~ .toggle-menu,
  input[type="checkbox"]:checked ~ .toggle-menu
  {
    border-bottom: solid 1px #090b08;
  }
  input[type="checkbox"]:checked ~ .navbar{
    display: flex;
    flex-direction: column;
  }
  .navbar{
    display: none;
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #ffe9ef;
    justify-content: space-evenly;
    align-items: center;
    z-index: -2;
  }
  .menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 4em 0 0;
  }
  a.nav-link{
    margin-right: 0;
  }
  a.nav-link:hover,
  a.nav-link:active,
  a.nav-link:focus{
    border-bottom: solid 1.8px #090b08;
  }
  .menu li{
    margin-top: 3em;
  }
  .social-menu{
    display: flex;
    flex-direction: row;
    padding: 0;
  }
  .social-menu li a{
    margin: 0 .5em;
    padding: .5em;
  }
  .social-menu li a{
    font-size: 1.2em;
  }
  .social-menu li a:hover,
  .social-menu li a:active,
  .social-menu li a:focus
  {
    border-bottom: solid 1px #000;
  }
  
  .text{
    text-align: center;
    padding-top: 1em;
  }
  .text p{
    text-align: justify;
    padding-bottom: 1em;
    line-height: 1.4em;
  }
  
  
  /* Responsive Style */
  @media(min-width: 320px){
    
  }
  @media(min-width: 576px){
    /*  Global  */
    h1{
      font-size: 2em;
    }
    
  
    /*  Global  */
    .wrapper{
      display: flex;
    }
    
    /*  Header  */
    .nav-brand img{
      height: 10em;
    }
    .toggle-menu{
      display: none;
    }
    .navbar{
      display: flex;
      position: relative;
      height: auto;
      width: auto;
      background-color: transparent;
      z-index: 1;
    }
    .menu{
      flex-direction: row;
      padding: 0;
      justify-content: flex-end;
    }
    .social-menu{
      display: none;
    }
    .menu li{
      margin-top: 0;
    }
    a.nav-link{
      margin-right: 3em;
    }
    
  }
  